<% stylesheet_link_tag 'posts/comments_tile' %>
<div id="comments-tile">
  <ul>
    <% comments.each do |comment| %>
      <li>
        <p class="commenter"><%= comment.author.name  if comment.author%>:</p>
        <p id="comment"><%= comment.text %></p>
        <% if @post.present? %>
          <% if can? :destroy, comment %>
            <%= form_with url: user_post_comment_path(@user, @post, comment), method: :delete do |f| %>
              <%= f.button 'Delete', class: 'custom-button' %>
            <% end %>
          <% end %>
        <% end%>
        <hr id="hr-line"/>
      </li>
    <% end %>
  </ul>
  <% if comments.length == 0 %>
    <p class="commenter" >No Comments yet</p>
  <% end %>
</div>
