<div id="add-new-page" class="content">
  <h1>Create a New Post</h1>
  <%= form_with model: post, url: user_posts_path, method: :post, local: true do |form| %>
    <%= form.text_field :title, placeholder: 'Enter Title here ...', required: true %>
    <%= form.text_area :text, rows: 10, placeholder: "What's on your mind ...", required: true %>
    <%= form.submit "Submit" %>
  <% end %>
</div>
