#per-user-details {
  display: flex;
  flex-direction: column;
}

#bio {
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 3px solid black;
  margin: 50px 150px 20px;
}

#all-posts-btn {
  align-self: center;
}
