#per-user-details {
  display: flex;
  flex-direction: column;
}

#bio {
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 3px solid black;
  margin: 50px 150px 20px;
  padding: 0 20px;
}

#bio p {
  font-style: italic;
  word-spacing: 0.9px;
  font-size: 18px;
}

#all-posts-btn {
  align-self: center;
}

#all-posts-btn button {
  font-size: 13px;
  font-weight: bold;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 10px;
}

#all-posts-btn button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

#all-posts-btn button:active {
  color: #000
}

#all-posts-btn button:active:after {
  background: transparent;
}

#all-posts-btn button:hover:before {
  opacity: 1;
}

#all-posts-btn button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
