#comments-tile {
  flex-wrap: wrap;
  justify-content: flex-end;
  border: 3px solid black;
  border-top: none;
  margin: 0 150px 20px;
  padding: 10px 20px;
}

.commenter {
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

#comment {
  font-style: italic;
}

#hr-line {
  border: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
